@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;&display=swap");

$color-bg: #17191e;
$color-primary: #1d63ed;
$color-accent: #00084d;
$color-text: #e5f2fc;
$color-code-bg: #2d2d2d;
